---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/home.njk
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag }}/
---
<h1>Tagged “{{ tag }}”</h1>

<section data-emoji="🍨">
	{% set postslist = collections[ tag ] %}
	{% include "postslist.njk" %}

	<p class="closing-link text-center">See <a href="{{ '/tags/' | url }}">all tags</a></p>
</section>